$border-color: #cacaca;

ss-input {

  .wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 12px;
    margin-right: 6px;
    font-family: 'Roboto', 'Arial', sans-serif;
  }
  
  .input-wrapper {
    position: relative;
    display: inline-block;
    height: 40px;
    vertical-align: top;
    
    &.full {
      width: 100%;
    }
    
    &.has-prepend .input-control {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    
    &.has-append .input-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  
  .input-control {
    height: 42px;
    padding: 18px 12px 6px;
    border: 1px solid $border-color;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
    border-radius: 4px;
    
    &:focus ~ .floating-label,
    &:not(:focus):valid ~ .floating-label {
      top: -1px;
      font-size: 11px;
    }
  }
  
  select.input-control {
    padding-top: 8px;
    font-family: 'Roboto', 'Arial', sans-serif;
    min-width: 196px;
  }
  
  .floating-label {
    position: absolute;
    pointer-events: none;
    left: 14px;
    top: 10px;
    transition: 0.15s ease-out;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.6;
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased !important;
  }
  
  .prepend, .append {
    display: inline-block;
    height: 28px;
    padding: 6px 12px;
    background-color: #e9ecef;
    color: #495057;
    border: 1px solid $border-color;
    line-height: 28px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .prepend {
    border-radius: 4px 0 0 4px;
    border-right: 0;
  }
  
  .append {
    border-radius: 0 4px 4px 0;
    border-left: 0;
  }
}