:host {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;;
  pointer-events: none;
}

.modal {
  position: fixed;
  pointer-events: none;
  background-color: white;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 400px;
  transition: all 250ms ease-out;
  opacity: 0;
  visibility: hidden;
  z-index: -999;
  padding: 16px;
  border-radius: 4px;
  transform: scale(.8);
}

.show {
  z-index: 999;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

slot[name=title] {
  color: red;
}