.sidebar__sheath {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 999;
  transition: all 200ms ease;

  &.start {
    left: 0;
    border-right: 1px solid #eee;
    transform: translateX(-100%);


    &.open {
      transform: translateX(0%);
    }
  }

  &.end {
    right: 0;
    border-left: 1px solid #eee;
    transform: translateX(100%);

    &.open {
      transform: translateX(0%);
    }
  }
}