// Viewports

$xs: 20em;
$sm: 48em;
$med: 64em;
$lg: 75em;
$xl: 90em;
$xw: 120em;

// Containers

$sm-container: 49rem;
$med-container: 65rem;
$lg-container: 76rem;
$xl-container: 91rem;
$xw-container: 121rem;

// Gutters

$gutter: 0.5rem;
$margin: 0;

$sm-gutter-right: $gutter;
$sm-gutter-left: $gutter;
$med-gutter-right: $gutter;
$med-gutter-left: $gutter;
$lg-gutter-right: $gutter;
$lg-gutter-left: $gutter;
$xl-gutter-right: $gutter;
$xl-gutter-left: $gutter;
$xw-gutter-right: $gutter;
$xw-gutter-left: $gutter;