* {
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
}