:host {
  
  .ripple {
  border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    pointer-events: none;
    transition: all 450ms cubic-bezier(0,0,.2,1);
    transform: scale(0);
  }
}
