:host {
    display: flex;
    width: 100%;
    height: 100%;
}

.has-popover {
    position: relative;
}

.popover-toggle {
    display: flex;
    width: 100%;
    height: 100%;
}

.popover__button {
    width: 32px;
    height: 32px;
    background-color: #eee;
    border-radius: 50%;
}

.popover__content {
    width: 200px; 
    height: 200px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #fff;
    font-family: 'Verdana';
    color: rgba(0,0,0,.54);
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 14px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    width: 80px;
    height: 100%;
    margin: 0 24px;
    background-color: #f1f1f1;
  }

.popover {
    background-color: transparent;
    position: absolute;
    display: flex;
    width: auto;
    height: auto;
    top: 0;
    will-change: transform;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: -999;
    transition: all 200ms ease-in-out;
    transform: translate3d(0, 0, 0) scale(.8);
}
  
.show {
    z-index: 999;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    // transform: scale(1);
}
  
  slot[name=title] {
    color: red;
  }