.backdrop {
  pointer-events: none;
  background-color: rgba(0,0,0,0);
  position: fixed;
  width: 100%;
  height: 100%;
  transition: all 250ms ease-out;
}

.show {
  pointer-events: auto;
  background-color: rgba(0,0,0,.3);

  .close-button {
    opacity: 1;
    pointer-events: auto;
  }
}

.invisible {
  background-color: transparent;
}

.close-button {
  position: fixed;
  top: 24px;
  right: 24px;
  opacity: 0;
  pointer-events: none;
}