* {
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  width: 24px;
  height: 100%;
  margin: 0 8px;
  background-color: #f1f1f1;
}
